[Unit]
Description=CouchDB 2.0

[Service]
TimeoutStartSec=10
ExecStart=/usr/bin/python dev/run
WorkingDirectory=/vagrant/couchdb/
User=ubuntu
Restart=always

[Install]
