[Unit]
Description=Guestbook Comment Worker

[Service]
ExecStart=/usr/bin/node comment-worker.js
User=ubuntu
WorkingDirectory=/vagrant/src/worker
Restart=always

[Install]


